.form-change-password__title {
    @include font600;
    font-size: 28px;
    line-height: 38px;
    color: $colorTextBlue;
    margin: 40px 0 0 0;
    @media screen and (max-width: 1024px) {
        font-size: 20px;
        line-height: 140%;
    }
}