.form-change-password__input {
    border: none;
    border-bottom: 1px solid $colorBorderBlue;
    width: 100%;
    padding: 10px 0 10px 30px;
    margin: 35px 0 0 0;
    &::placeholder {
        color: $colorTextBlueInput;
        font-size: 18px;
        line-height: 140%;
    }
    &:focus {
        outline: none;
        border-bottom: 1px solid $colorBorderBlueFocus;
    }
}