.form-change-password__input {
    border: none;
    border-bottom: 1px solid $colorBorderBlue;
    padding: 10px;
    position: relative;
    &::placeholder {
        color: $colorTextBlueInput;
        font-size: 18px;
        line-height: 140%;
    }
    &:focus {
        outline: none;
        border-bottom: 1px solid $colorBorderBlueFocus;
    }
    &:focus + .form-change-password__placeholder {
        opacity: 0;
    }
}