.form-change-password__submit {
    @include font400;
    font-size: 17px;
    line-height: 21px;
    color: #0E406A;
    border: none;
    outline: none;
    cursor: pointer;
    background: #FFD970;
    border-radius: 5px;
    padding: 20px 40px;
    margin: 30px 0 0 0;
    transition: background 0.7s;
    &::after {
        content: '\27F6';
        font-size: 23px;
        padding: 0 0 0 13px;
    }
    &:hover {
        background: #d8c180;
    }
    @media screen and (max-width: 1024px) {
        font-size: 16px;
        padding: 18px 30px;
    }
}
.form-change-password__submit_disable {
    background: #FFE292;
}