.form-change-password__span {
    @include font400;
    font-size: 16px;
    line-height: 140%;
    color: $colorTextBlueInput;
    align-self: start;
    margin: 50px 0 0 0;
    &::before {
        content: '*';
        color: $colorTextPink;
        padding: 0 5px 0 0;
    }
    @media screen and (max-width: 1024px) {
        font-size: 15px;
        line-height: 140%;
    }
}