@mixin font300 {
    font-weight: 300;
};
@mixin font200 {
    font-weight: 200;
};
@mixin font700 {
    font-weight: 700;
};
@mixin font400 {
    font-weight: 400;
};
@mixin font500 {
    font-weight: 500;
};
@mixin font600 {
    font-weight: 600;
};