.form-change-password__error {
    @include font400;
    font-size: 15px;
    line-height: 140%;
    color: $colorTextRed;
    margin: 5px 0 0 0;
    align-self: start;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    transition: 0.3s; 
}
