.form-change-password__placeholder {
    @include font400;
    position: absolute;
    font-size: 18px;
    line-height: 140%;
    color: $colorTextBlueInput;
    opacity: 1;
    &::before {
        content: '*';
        padding: 0 5px 0 0;
        color: $colorTextPink;
    }
    @media screen and (max-width: 1024px) {
        font-size: 15px;
        line-height: 140%;
    }
}
.form-change-password__placeholder_disable {
    opacity: 0;
}